.hero {
  align-items: center;
  background: url('../images/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-flow: row;
  height: 600px;
  justify-content: center;
  position: relative;
  width: 100%;

  .hero-block {
    color: $color-white;
    text-align: left;
    width: 85%;

    h1 {
      color: $color-white;
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

      span {
        color: $bg-2;
      }
      
      @include tablet {
        font-size: 3rem;
      }

      @include desktop {
        font-size: 4rem;
      }
    }
    
    p {
      font-weight: 200;
      font-size: 1.5rem;

      @include tablet {
        font-size: 2rem;
      }
    }
    
    @include desktop {
      width: 55%;
    }
  }
}