// Colors
$text-color: #545454;
$text-color-2: #cceaed;
$color-blue: #caebf2;
$color-white: #fff;
$color-black: #000;
$color-gray: #a9a9a9;
$bg-1: #efefef;
$bg-2: #ff383f;
$bg-3: #abadac;
$bg-4: #c4dfe6;
$calendar-background: #FBFBFB;
$calendar-month: #8775BF;
$calendar-month-hl: #7561B3;
$calendar-title-color: #B0B0B0;

// Grid
$grid-max-width:            1144px;
$grid-gutter-width:         20px;
$grid-gutter-width-lg:      40px;

// Breakpoints
$screen-xs:                 360px;
$screen-sm:                 768px;
$screen-md:                 1025px;
$screen-lg:                 1280px;
$screen-xl:                 1920px;